section {
    min-height:100vh;
    padding-top: 66px;
}

body {
    background-color: whitesmoke !important;
}

footer {
    min-height:30vh;
    padding:24px;
    color: white;
    background-color: black;
}

.black {
    background-color: #fff;
    height: 60vh;
    padding-top: 180px;
}

.middle {
    text-align: center;
}

.move {
    padding-left: 20px;
}

.log {
    background-image: url(/cesteg/static/images/solar.jpg);
    height: 60vh;
}

.star {
    background-color: whitesmoke;
}


.contact-table td {
    padding: 16px;
}

.contact-table tr td:first-child {
    vertical-align: top;
}

.service-card {
    max-width: 192px;
    width: 192px;
    margin:24px !important;
}

.service-card h6 {
    margin-top:16px;
    text-align: center;
}

.service-card img {
    width: 100%;
    height: auto;
}

.service-card .card-body {
    padding: 12px !important;

}
