section {
    min-height:100vh;
    padding-top: 66px;
}

body {
    background-color: whitesmoke !important;
}

footer {
    min-height:30vh;
    padding:24px;
    color: white;
    background-color: black;
}

.black {
    background-color: #fff;
    height: 60vh;
    padding-top: 180px;
}

.middle {
    text-align: center;
}

.move {
    padding-left: 20px;
}

.log {
    background-image: url(/cesteg/static/images/solar.jpg);
    height: 60vh;
}

.loge {
    background-image: url(/cesteg/static/images/solar.jpg);
    height: 60vh;
}

.star {
    background-color: whitesmoke;
}


