section {
    min-height:100vh;
    padding-top: 66px;
}

body {
    background-color: whitesmoke !important;
    padding-left: 10px;
}

.nav-link.active {
    background-color: #0c7b93;
    color: white !important;
    transition: background-color 0.3s linear;
}

nav {
    box-shadow: 0px 2px 4px rgba(220,220,220,0.3),
                0px 4px 16px rgba(245,245,2245,0.15);
}

footer {
    min-height:30vh;
    padding:24px;
    color: white;
    background-color: black;
    margin-top: 2rem;
}

.about {
    margin:24px;
    width: 312px;
    max-width: 312px;
    height: 100%;
}

.about img{
    margin-bottom: 24px;
}



#case-studies {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text{
    text-align: justify;
}


.black {
    background-color: #fff;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.middle {
    text-align: center;
}

.move {
    padding: 20px;
}

.log {
    /* height: 90vh; */
    overflow:hidden;
}

.log img {
    width: 100%;
    height:auto;
}

.star {
    background-color: whitesmoke;
}


.contact-table td {
    padding: 16px;
}

.contact-table tr td:first-child {
    vertical-align: top;
}

.service-card {
    max-width: 192px;
    width: 192px !important;
    min-width: 192px !important;
    margin:24px !important;
    transition:transform 0.3s linear;
}

.service-card h6 {
    margin-top:16px;
    text-align: center;
}

.service-card img {
    width: 100%;
    height: auto;
}

.service-card .card-body {
    padding: 12px !important;

}

.service-card:hover {
    box-shadow: 0px 2px 4px #999,
                0px 4px 16px #ddd;
    transform:scale(1.125)
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    display: none;
    width: 100vw;
    height:100vh;
    background-color: rgba(0,0,0, 0.3);
    flex-direction: row;
    justify-content: center;
    transition: opacity 0.3s ease-in;
}

#detail-view {
    width: 80vw;
    height: 90vh;
    margin: 8vh auto;
    background-color: white;
    overflow-y:auto;
    border-top: 3px solid #23374d
}

.modal-view{
    width: 100%;
    height: 100%;
    display: none;
    padding: 16px;
    position: relative;
    overflow-y: hidden;
}

.modal-view-content {
    position: absolute;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.4);
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:16px;
}

.modal-view-content h2 {
    font-family: 'Changa One', cursive;
    font-size: 4.5rem;
    text-align: center;
}

.modal-view img {
    width: 100%;
    height:auto;
}

.modal-view.active {
    display: block!important;
}

#map {
    height: 250px;
    padding:16px;
}


.product-container {
    margin: 20px 40px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.product-category {
    display:flex;
    flex-direction: row;
    padding: 12px;
    background-color: #142850;
    color:white;
}

.product-category h4{
    flex: auto;
}

.product-category button {
    flex: 0;
    width: 40px;
}

.product-category-contents {
    /* display: none; */
}

.product-category-description {
    margin: 24px;
}

.product-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-cards .card {
    width: 200px !important;
    margin: 16px;
}

.product-cards .card>img {
    width: 100% !important;
    height:auto;
}

.product-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.news-hero {
    height: 70vh;
    overflow:hidden;
    position:relative;
}

.news-hero-overlay {
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    display:block;
    color:white;
}

.news-head {
    position: relative;
    top:48px;
    width: 256px;
    left: 50vw;
}

.news-head h2{
    font-family: 'Changa One', cursive;
    font-size: 4.5rem;
}

.news-hero > img {
    width: 100%;
    height: auto;
}

.news-cards {
    margin-top: -33vh;
    margin-left: 24px;
    width:40vw;
    display:flex;
    flex-direction:column;
    position: absolute;
}

.news-cards .card {
    margin-bottom: 24px;
    box-shadow: 0px 2px 4px rgba(220,220,220,0.3);
    display: flex;
    flex-direction:row;           
}

.news-cards .card>img {
    width: 128px;
    height:auto;        
}

.navbar img {
    height: 40px;
    width: auto;
}

.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.partners div {
    margin: 24px;
    width: 192px;
    border: 0px;
}

.partners img {
    width: 100%;
    height: auto;
}

.logo {
    height: 50px;
    width: auto;
}

.list-group li {
    list-style-type: none;
}

.list-group a {
    text-decoration: none;
    color: white
}

.list-group a:hover {
    color: white
}

@media(max-width: 575px){
    .about {
        max-width: 256px;
        width:256px;
    }

    .modal-view-content{
        position: static;
        color:black;
        background-color:transparent;

    }

    .modal-view {
        overflow-y: auto;
    }

    .modal-view-content h2{
        font-size: 1.5rem;
    }

    .news-hero {
        height: fit-content;
        overflow-y: auto;
    }

    .news-head {
        position: static;
    }

    .news-head h2 {
        font-size: 2rem;
    }

    .news-hero-overlay {
        height: 30vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news-cards {
        width: 100%;
        position: static;
        margin: 24px !important;
    }

    .news-cards .card {
        flex-direction: column;
        width: calc(100vw - 48px) ;
    }

    .news-cards .card>img {
        
        width: 100%;
    }
}



.post-window {
    display: block !important;
}

.post-content {
    background-color: white;
    width: 85vw;
    height: 90vh;
    margin: 4vh auto;
    padding: 12px;
}

.post-hero {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.post-hero-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 100000;
}

.post-hero img {
    height: 40vh;
    width: auto;
    z-index: -1;
    display:block;
    margin: 0px auto;
}

.news-card-title:hover {
    text-decoration: underline;

    .card-deck {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}